Repository redhat-cne/cloud-event-proxy, pull requests merged in 2025-09, with the labels that each got.

#591 OCPBUGS-61703 : Fix T-BC ts2phc upstream interface metric
  plugins/ptp_operator/metrics/logparser.go
  plugins/ptp_operator/ptp_operator_plugin.go
Labels: approved, lgtm, ok-to-test

#580 Save and load basic metrics to file in store and trigger logs from linuxptp-daemon
  plugins/ptp_operator/metrics/filesystem.go
  plugins/ptp_operator/metrics/logparser.go
  plugins/ptp_operator/metrics/logparser_test.go
  plugins/ptp_operator/metrics/manager.go
  plugins/ptp_operator/metrics/manager_test.go
  plugins/ptp_operator/metrics/metrics.go
  plugins/ptp_operator/metrics/metrics_test.go
  plugins/ptp_operator/metrics/ptp4lParse.go
  plugins/ptp_operator/ptp_operator_plugin.go
Labels: approved, lgtm, ok-to-test

#592 OCPBUGS-61932: Suppress spurious log when GetAlias received master or an already aliased Intel or Mellanox interface
  plugins/ptp_operator/utils/utils.go
  plugins/ptp_operator/utils/utils_test.go
Labels: approved, lgtm, ok-to-test, jira/valid-bug, jira/valid-reference, jira/severity-critical, verified-later, verified

#600 OCPBUGS-60613: Skip line if type convertions error in extractRegularMetrics
  plugins/ptp_operator/metrics/logparser.go
  plugins/ptp_operator/metrics/logparser_test.go
Labels: approved, lgtm, ok-to-test, jira/severity-important, jira/valid-bug, jira/valid-reference
